<div id="overlay" class="">
	<div id="overlaycontent">
		<div class="row fullWidth">
			<div class="large-3 columns">
				<div id="articles_host">
				</div>
				<div id="article_loading" class="white">
					Loading related articles...
					<i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
				</div>
			</div>

			<div id="mainstuff" class="large-6 columns">
				<div class="tabs-content">
					<div class="" id="panel1">
						<div id="comments">
							<div id="comment_host" class="row"></div>
							<div id="comments_load" class="large-6 columns large-centered">
								Comments are loading...
								<i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
							</div>
							<div class="row">
								<form id="postcomment" class="large-12 columns">
									<div class="row comment">
										<div class="large-1 columns profilepic">
											<img src="http://www.alangoo.com/images/profilepics/thumbImage/profile.png">
										</div>
										<div class="large-11 columns comment_text">
											<textarea placeholder="Write a comment" id="comment_text"></textarea>
											<a href="#" id="comment_submit" class="button postfix">Post</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="hide" id="panel2">
						<div id="notes">
							<div class="row">
								<form id="save_notes" class="large-12 columns">
									<div class="row comment">
										<div id="note_host" class="large-12 columns">
											<div id="notes_load" class="large-6 columns large-centered">
												Notes are loading...
												<i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
											</div>
										</div>
										<div class="large-12 columns note_text">
											<textarea id="note_text" rows="6" cols="60">Type **Markdown** here and hit POST.</textarea>
											<!--textarea placeholder="Write some notes (Markdown supported!)" id="note_text"></textarea-->
											<a href="#" id="note_submit" class="button postfix">Post</a>
										</div>
									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-10 columns">
						<ul class="tabs large-6 columns large-centered" data-tab>
							<li class="tab-title active"><a id="gotocomments" href="#">Comments</a></li>
							<li class="tab-title"><a id="gotonotes" href="#">Notes</a></li>
						</ul>
					</div>
					<div class="large-2 columns">
						<ul class="tabs large-centered" data-tab>
							<li class="tab-title tab-feedback"><a id="gotofeedback" target="_blank" href="https://docs.google.com/forms/d/1Kp1ziCogHqvhiKOaymn5n3KPyg4siPsJvGWWSKvtWdU/viewform?usp=send_form">Feedback</a></li>
						</ul>
					</div>

				</div>

			</div>

			<div class="large-3 columns">
				<div class="white">
				</div>
				<div id="card_host">
				</div>
				<div id="card_loading" class="white">
					Related information is loading...
					<i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
				</div>
			</div>
		</div>
		<div class="row">
		</div>
	</div>
</div>
<div id="overlayBlend">
</div>
