#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999998 !important;
    margin-top: 10px;
}

#overlaycontent {
	z-index: 99999999 !important;
	overflow-y: scroll;
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	padding: 10px;
}

#overlayBlend {
    opacity: 0;
	position: fixed;
    background-color: #000;
    filter:alpha(opacity=50);
    opacity: 0.7;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999997 !important;
}

.fullWidth {
   width: 100% !important;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.comment {
	background-color: rgb(245, 245, 245);
	border-radius: 2px;
	margin: 0 0 10px 0 !important;
	padding: 4px;
    min-height: 100px;
}

.comment:hover {
  background-color: rgb(230, 230, 230);
}

#comments_load {
	color: white;
	margin: 18px auto 20px auto;
  text-align: center;
}
#comments_load i {
	color: white;
}

.comment_text {
	height: auto;
}

.comment_username {
    font-weight: bolder;
}

#comment_submit {
	margin-bottom: 3px;
}

#overlay *:not(i) {
	font-family: "Lato" !important;
}

.white {
	color: white;
}

a i {
    color: black;
}

a.chosen i {
    color: #BD0909 !important;
}

.card {
  background-color: rgb(245, 245, 245);
  border-radius: 2px;
  margin: 0 0 5px 0 !important;
  padding: 4px;
  min-height: 75px;
}

.card:hover {
  background-color: rgb(230, 230, 230);
}

.card-title {
	font-size: 110%;
    font-weight: bold;
}

.card-category {
    font-size: 100%;
    font-weight: normal;
}

.card-head img {
    margin-right: 5px;
    margin-bottom: 10px;
}

.cards-fact-key {
	font-weight: bold !important;
}

.cards-abstract {
    margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.cards-facts {
  margin-bottom: 10px !important;
}

.cards-link a {
  color: #1F92F0;
}

.cards-link a:hover {
  color: #00569C;
}

.small {
    object-fit: cover;
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin-bottom: 0px !important;
}

/* LATO */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.img-container {
    width: 90px;
    height: 90px;
    overflow: hidden;
}
.img-container img {
    height: 100%;
}



* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 155px; /* .push must be the same height as .footer */
}

#panel1, #panel2{
    padding: 0 !important;
}

.tabs dd > a, .tabs .tab-title > a {
    padding: 0.8rem !important;
}

.tab-feedback > a {
    background-color: red;
    margin-right: 10px;
}
